/* 기본적인 스타일 초기화 */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* 컨테이너 */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 사용자 정보 제목 */
h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: left;
}

/* 정보 테이블 스타일 */
.info-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; /* 아래 여백 추가 */
}

.info-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    vertical-align: middle; /* 수직 정렬 */
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ddd;
}

.action-button {
    color: black;
    cursor: pointer;
    font-size: 18px;
}

.action-button:hover {
    text-decoration: underline;
}

/* 비밀번호 수정 폼 */
#changePasswordForm {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

#changePasswordForm label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}

#changePasswordForm input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#changePasswordForm button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

#changePasswordForm button:hover {
    background-color: #218838;
}

/* 찜한 여행지 목록 */
h3 {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #333;
}

/* 찜한 여행지 목록 스타일 */
#favouritePlaces {
    list-style-type: none;
    padding: 0;
}

/* 프로필 이미지 수정 폼 */
#profileImageFormBlock {
    display: none; /* 초기에는 숨김 */
    margin-top: 15px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

/* 버튼 스타일 */
.btn {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
    border: none;
    margin-top: 20px;
}

.btn-danger:hover {
    background-color: #c82333;
}

.text-end {
    text-align: end;
}

/* 모달 스타일 */
.modal {
    display: none; /* 초기 상태에서 숨김 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}